@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('myriadpro-condensed-webfont.eot');
    src: url('myriadpro-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-condensed-webfont.woff') format('woff'),
         url('myriadpro-condensed-webfont.ttf') format('truetype'),
         url('myriadpro-condensed-webfont.svg#myriad_procondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    src: url('myriadpro-boldcondensed-webfont.eot');
    src: url('myriadpro-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-boldcondensed-webfont.woff') format('woff'),
         url('myriadpro-boldcondensed-webfont.ttf') format('truetype'),
         url('myriadpro-boldcondensed-webfont.svg#myriad_probold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Myriad Pro Bold SemiCondensed';
    src: url('myriadpro-boldsemicondensed-webfont.eot');
    src: url('myriadpro-boldsemicondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-boldsemicondensed-webfont.woff') format('woff'),
         url('myriadpro-boldsemicondensed-webfont.ttf') format('truetype'),
         url('myriadpro-boldsemicondensed-webfont.svg#myriad_probold_semicondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Myriad Pro Light SemiCondensed';
    src: url('myriadpro-lightsemicn-webfont.eot');
    src: url('myriadpro-lightsemicn-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-lightsemicn-webfont.woff') format('woff'),
         url('myriadpro-lightsemicn-webfont.ttf') format('truetype'),
         url('myriadpro-lightsemicn-webfont.svg#myriad_prolight_semicondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Myriad Pro Reg';
    src: url('myriadpro-reg-webfont.eot');
    src: url('myriadpro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-reg-webfont.woff') format('woff'),
         url('myriadpro-reg-webfont.ttf') format('truetype'),
         url('myriadpro-reg-webfont.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('myriad_pro-bold-webfont.eot');
    src: url('myriad_pro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriad_pro-bold-webfont.woff') format('woff'),
         url('myriad_pro-bold-webfont.ttf') format('truetype'),
         url('myriad_pro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}